VITE_FIREBASE_API_KEY=AIzaSyBWQT1dMxTBwgi9C5pCChqa4v37Ywo5Zvc
VITE_FIREBASE_AUTH_DOMAIN=iskonnect-15238.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=iskonnect-15238
VITE_FIREBASE_STORAGE_BUCKET=iskonnect-15238.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=899384638137
VITE_FIREBASE_APP_ID=1:899384638137:web:778cf883f86dc35a3af968
VITE_FIREBASE_APPCHECK_RECAPTCHA_SITE_KEY=

